html,
body {  
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}
.intro {
  top: 0;
  min-height: 95vh;
  padding-top: 45vh;
}


.work {
  padding-top: 60px;
  margin-top: -60px;
  min-height: 100vh;
}


.work .work-header {
  margin-top: 50px;
  color: #000000;
  font-weight: normal;
}

.project {
  text-decoration: none;
  color: #000000;
  display: inline-block;
  overflow: hidden;
  border: 2px solid #181718;
  height: 220px;
  width: 280px;
  margin: 40px 100px;

}

.project-pic {
  width: 100%;
  height: 180px;
  border-bottom: 2px solid #000000;
}

.project-title {
  font-weight: bold;
}

.show-all {
  text-decoration: none;
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto 90px;;
  color: #181718;
  font-weight: bold;
  font-size: 1em;
  padding-top:15px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}


.show-all:hover {
  background: #000000;
  color: white;
}

.contact {
  padding-bottom: 160px;
}

.header {
  padding: 160px 0 110px;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #fff;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #4e4e4e;
  color: #000000;
  text-decoration: none;
}

.contact-details:hover {
  background: #000000;
  color: #ffffff;
  text-decoration:underline;
}
@media only screen and (max-width: 367px) {

  .contact-details {
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}